.about-me {
  color: #D9D9D9;
  width: 100%;
  height: fit-content;
  background: linear-gradient(
    180deg,
    #030302 0%,
    #64462c 79.67%,
    rgba(100, 70, 44, 0) 96.67%
  );
  padding: 160px 0;
}
.about-me .row {
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.avatar {
  width:  calc(100px + (300 - 100) * ((100vw - 300px) / (1728 - 300)));
  border-radius: 50%;

}

h2 {
  margin-top: 0px;
}
@media (max-width: 930px) {
  .review-box, .row { 
      width: 90%;
      margin-left: 0;
  }
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .avatar,.kenia-map {
      width: 90%;
      margin: 10% auto;
  }
  #carouselExampleDark {
      width: 90vw;
  }
  .carousel {
      width: 100%;
  }
  .carousel-inner {
      width: 90%;
      margin: 10% 5%;
  }
  .col-3, .col-5 {
      width: 100%;
  }
.col-3 .giraffe {
  padding-left: 0;
}
}