.about-me {
  color: #D9D9D9;
  width: 100%;
  height: fit-content;
  background: linear-gradient(
    180deg,
    #030302 0%,
    #64462c 79.67%,
    rgba(100, 70, 44, 0) 96.67%
  );
  padding: 160px 0;
}
.about-me .row {
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.avatar {
  width: 350px;
}

h2 {
  margin-top: 0px;
}
